<template name="blog">

    <!-- Page heading -->
    {{> pageHeading title='Blog'}}

    <div class="wrapper wrapper-content animated fadeInRight blog">
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox">
                    <div class="ibox-content">
                        <a href="{{pathFor route='article'}}" class="btn-link">
                            <h2>
                                1. Why 챗봇
                            </h2>
                        </a>
                        <div class="small m-b-xs">
                            <strong>Adam Novak</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Oct 2015</span>
                        </div>
                        <p>
                            ‘챗봇(Chatbot)’이란 채팅로봇, 즉 인공지능을 기반으로 사람과 대화를 나누는 프로그램을 말합니다.
                            인간의 대화를 흉내 내는 컴퓨터 프로그램으로 사용자가 컴퓨터와 상호작용하는 방식을 사람과의 대화처럼 전환하는 기술입니다.
                            애플의 시리(Siri)기능을 떠올리면 쉽게 이해할 수 있습니다.
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Tags:</h5>
                                <button class="btn btn-primary btn-xs" type="button">Model</button>
                                <button class="btn btn-white btn-xs" type="button">Publishing</button>
                            </div>
                            <div class="col-md-6">
                                <div class="small text-right">
                                    <h5>Stats:</h5>
                                    <div> <i class="fa fa-comments-o"> </i> 56 comments </div>
                                    <i class="fa fa-eye"> </i> 144 views
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-content">
                        <a href="{{pathFor route='article'}}" class="btn-link">
                            <h2>
                                챗봇 만들기 스터디 시작!!
                            </h2>
                        </a>
                        <div class="small m-b-xs">
                            <strong>Mike Smith</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 11th May 2015</span>
                        </div>
                        <p>
                            챗봇스터디 그룹을 만들어 보려고 합니다.
                            자신이 지금까지 구현한 봇(api를 사용한 간단한 봇 포함)
                            을 발표하면서 스터디를 시작하려고 합니다.
                        </p>
                        <p>
                            지금까지 챗봇에 사용된 최대한 모든 기술들을 알아보는 것과 원하는 모듈이나 라이브러리 활용 기술들을 빠르게 습득하기위한 스터디입니다.
                            예를들어, 다른 사람들이 구현한 챗봇에 사용된 모듈이나 라이브러리 구현방법을 서로 공유하고 습득하는 스터디입니다.
                            스터디를 하고자 하시는 분께서는 http://naver.me/GYvKlLce 설문에 답해주시면 연락드리도록 하겠습니다.
                            많은 관심 부탁드립니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Small Chat Box -->
    {{> smallChatBox }}
</template>
