<template name="chatbot">

    <!-- Page heading -->
    {{> pageHeading title='ChatBot' }}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row m-t-lg">
            <div class="col-lg-4">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox-content text-center">
                                <h1><strong>BIGMAMA</strong></h1>
                                <div class="m-b-sm">
                                    <img alt="image" class="img-circle" src="img/a8.jpg">
                                </div>
                                <p class="font-bold">인공지능 1호 챗봇</p>

                                <div class="text-center">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                    <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 q">
                            <div class="ibox-content">
                                <div>
                                    <div>
                                        <span>유머</span>
                                        <small class="pull-right">30 P</small>
                                    </div>
                                    <div class="progress progress-small">
                                        <div style="width: 60%;" class="progress-bar"></div>
                                    </div>

                                    <div>
                                        <span>지능</span>
                                        <small class="pull-right">20 P</small>
                                    </div>
                                    <div class="progress progress-small">
                                        <div style="width: 50%;" class="progress-bar"></div>
                                    </div>

                                    <div>
                                        <span>체력</span>
                                        <small class="pull-right">73 P</small>
                                    </div>
                                    <div class="progress progress-small">
                                        <div style="width: 40%;" class="progress-bar"></div>
                                    </div>

                                    <div>
                                        <span>지혜</span>
                                        <small class="pull-right">400 P</small>
                                    </div>
                                    <div class="progress progress-small">
                                        <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div>
                            <div class="chat-discussion">
                                <div class="chat-message left">
                                    <img class="message-avatar" src="img/a5.jpg" alt="" >
                                    <div class="message">
                                        <a class="message-author" href="#"> BIGMAMA </a>
                                        <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                        <span class="message-content"> 신은 존재하는가? </span>
                                    </div>
                                </div>
                                <div class="chat-message right">
                                    <img class="message-avatar" src="img/a4.jpg" alt="" >
                                    <div class="message">
                                        <a class="message-author" href="#"> BRUCE LEE </a>
                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                        <span class="message-content"> 스스로에게 물어보아라, 신은 존재한다고 생각하는가? 이유는 무엇인가? </span>
                                    </div>
                                </div>
                                <div class="chat-message left">
                                    <img class="message-avatar" src="img/a5.jpg" alt="" >
                                    <div class="message">
                                        <a class="message-author" href="#"> BIGMAMA </a>
                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                        <span class="message-content"> 인공지능은 인류에게 위협적인 존재인가? </span>
                                    </div>
                                </div>
                                <div class="chat-message right">
                                    <img class="message-avatar" src="img/a4.jpg" alt="" >
                                    <div class="message">
                                        <a class="message-author" href="#"> BRUCE LEE </a>
                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                        <span class="message-content"> 고도로 지혜를 가진자의 의사판단 기준은 무엇일까? 어리석은 판단을 할 수 있을까? </span>
                                    </div>
                                </div>
                                <div class="chat-message left">
                                    <img class="message-avatar" src="img/a5.jpg" alt="" >
                                    <div class="message">
                                        <a class="message-author" href="#"> BIGMAMA </a>
                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                        <span class="message-content"> 인생은 도박인가? 정해전 길을 걷는 것인가? </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="chat-form chatbot">
                            <form role="form">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Message"></textarea>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-sm btn-primary m-t-n-xs"><strong>Send message</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
