<template name="smallChatBox">
    <div class="small-chat-box fadeInRight animated">

        <div class="heading" draggable="true">
            <small class="chat-date pull-right">
                02.19.2015
            </small>
            BIGMAMA BOT
        </div>

        <div class="content">

            <div class="left">
                <div class="author-name">
                    BIGMAMA <small class="chat-date">
                    10:02 am
                </small>
                </div>
                <div class="chat-message active">
                    안녕! 잘지냈니?
                </div>

            </div>
            <div class="right">
                <div class="author-name">
                    BRUCE LEE
                    <small class="chat-date">
                        11:24 am
                    </small>
                </div>
                <div class="chat-message">
                    그럭저럭 지내고 있어~
                </div>
            </div>
            <div class="left">
                <div class="author-name">
                    BIGMAMA
                    <small class="chat-date">
                        08:45 pm
                    </small>
                </div>
                <div class="chat-message active">
                    밥은 먹고 다니냐?
                </div>
            </div>
            <div class="right">
                <div class="author-name">
                    BRUCE LEE
                    <small class="chat-date">
                        11:24 am
                    </small>
                </div>
                <div class="chat-message">
                    먹을만큼은 먹고 있지!
                </div>
            </div>
            <div class="left">
                <div class="author-name">
                    BIGMAMA
                    <small class="chat-date">
                        08:45 pm
                    </small>
                </div>
                <div class="chat-message active">
                    굶지마라~ 키안큰다. ㅎㅎ
                </div>
            </div>


        </div>
        <div class="form-chat">
            <div class="input-group input-group-sm"><input type="text" class="form-control"> <span class="input-group-btn"> <button
                    class="btn btn-primary" type="button">Send
            </button> </span></div>
        </div>

    </div>
    <div id="small-chat">

        <span class="badge badge-warning pull-right">5</span>
        <a class="open-small-chat">
            <i class="fa fa-comments small-chat-icon"></i>

        </a>
    </div>
</template>
